---
layout: default
title: Huwelijk en Avondfeest
permalink: /be/ceremony-and-reception
---
{% include be-header.html %}

<div class="wrapper wrapper_nav">
  <div class="nav_container container">
    <div class="row">
      <div class="span10 offset1">
        {% include be-navigation.html %}
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper_main">
  <div class="main container">
    <div class="sixteen columns alpha">
      <div class="content">
        <h1>Huwelijk en Avondfeest</h1>
        <p>Wij treden in het huwelijk op zondag 1 september 2013 met uitzicht op de rotsachtige kust van Maine in:</p>

        <blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
          88 Grandview Ave<br/>
          Boothbay Harbor, ME 04538, USA<br/>
          (207) 633-4152
        </blockquote>

        <p>De huwelijksceremonie begint laat in de namiddag. In geval van regen wordt de huwelijksceremonie naar binnen verplaatst.</p>

        <h2>De Avondfeest</h2>

        <p>Na de ceremonie blijven we van het uitzicht van de kust in Maine genieten tijdens een cocktail receptie op het oceaan terras. Nadien gaan we gezellig tafelen en dansen in Pemaquid Hall.</p>
      </div>
    </div>
  </div>
</div>
