---
layout: default
title: Bereikbaarheid
permalink: /be/getting-here
---
{% include be-header.html %}

<div class="wrapper wrapper_nav">
  <div class="nav_container container">
    <div class="row">
      <div class="span10 offset1">
        {% include be-navigation.html %}
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper_main">
  <div class="main container">
    <div class="sixteen columns alpha">
      <div class="content">
        <h1>Bereikbaarheid</h1>
        <h2>Routebeschrijving naar Spruce Point Inn</h2>

        <p>Gebruik een GPS, het maakt alles een stuk gemakkelijker.</p>

        <blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
          88 Grandview Ave<br/>
          Boothbay Harbor, ME 04538, USA<br/>
        </blockquote>

        <h3>Vluchten</h3>

        <p>De dichtstbijzijnde luchthaven is Portland International Jetport. Het ligt ongeveer 1 uur en 30 minuten ten zuiden van Boothbay Harbor.</p>

        <p>Boston Logan International Airport is ongeveer 3 uur en 15 minuten ten zuiden van Boothbay Harbor, maar met veel meer vluchten biedt dit meer vlucht mogelijkheden.</p>
      </div>
    </div>
  </div>
</div>
