---
layout: default
title: Home
permalink: /be
---
{% include be-header.html %}

<div class="wrapper wrapper_nav">
  <div class="nav_container container">
    <div class="row">
      <div class="span10 offset1">
        {% include be-navigation.html %}
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper_banner">
  <div class="banner container">
    <div class="eight columns alpha">
      <img src="/assets/images/structure/banner-pictures.png"><br/>
    </div>
    <div class="eight columns omega">
      <p>Als geliefde familie en vrienden zijn jullie uitgenodigd om samen ons bruiloft avontuur in Maine te vieren. Het is een gelegenheid om samen te komen, niet alleen voor ons, maar voor elkaar. Elke uitnodiging is een hartelijke en oprechte hoop dat u zal deelnemen.</p>
    </div>
  </div>
</div>
