---
layout: default
title: Huwelijkslijst
permalink: /be/registry
---
{% include be-header.html %}

<div class="wrapper wrapper_nav">
  <div class="nav_container container">
    <div class="row">
      <div class="span10 offset1">
        {% include be-navigation.html %}
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper_main">
  <div class="main container">
    <div class="sixteen columns alpha">
      <div class="content">
        <h1>Huwelijkslijst</h1>
        <p>Familie en Vrienden, het het beste geschenk dat u ons kan geven is het bijwonen van ons huwelijk. Wij wensen vooral dat jullie samen met ons deze grote dag komen vieren. Voel u alsjeblieft niet verplicht een geschenk te kopen.</p>

        <p>We zijn zeer blij dat we onze special dag met jullie kunnen delen!</p>

        <h2>Maar als we u niet kunnen overtuigen...</h2>

        <p>We zijn aan het sparen om ons eigen huis te kopen en zouden monetaire bijdrage zeer appreciëren.</p>

        <p>Als je liever een geschenk geeft, wij hebben en huwellijst bij <a class="external" href="http://www.crateandbarrel.com/Gift-Registry/Gitte-Venicx-and-Chris-Laskey/r5017064">Crate&amp;Barrel</a> and <a class="external" href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-616402231&">Bed Bath &amp; Beyond</a>.</p>
      </div>
    </div>
  </div>
</div>
