---
---
<html>

{% include head.html %}

<body class="body">

  {{ content }}

  <div class="wrapper wrapper_date_banner">
    <div class="date_banner container">
      <div class="leader">Where the forest meets the ocean, where the trees meet the sea...</div>
      <div class="date">Sunday, September 1, 2013</div>
      <div class="address">Spruce Point Inn Poolside Deck, 88 Grandview Ave, Boothbay Harbor, ME 04538, USA</div>
    </div>
  </div>

  <script src="/assets/js/jquery-3.6.0.slim.min.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3303547-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
